ErrorDocument 400 index.html

ErrorDocument 401 index.html

ErrorDocument 403 index.html

ErrorDocument 404 index.html

ErrorDocument 500 index.html

<FilesMatch ".(jpg|jpeg|png|gif|svg|css|js|webp|woff2|ico)$">
Header set Cache-Control "max-age=1800"
</FilesMatch>